@import "./partials/mixins"; // mixins
@import "./partials/global"; // globals
@import "./partials/badge"; // badges
@import "./partials/filter"; // filters
@import "./partials/icons"; // icons
@import "./partials/toggle"; // accordion show/hide
@import "./partials/list"; // list view
@import "./partials/alert"; // alert panel

/* *************************************************
 * Single Route Advisory Header
 ***************************************************/

.advisory-block-title,
.advisory-type {
  font-family: var(--title-font);
}

.toggle .advisory-block-title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 16px 20px;
  border: 1px solid var(--border-color);
  // border-bottom: 0;
  background-color: var(--light-yellow);
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  #alert-accordion {
    border: 1px solid var(--border-color);
  }
}

#alert-accordion .route-status {
  margin-right: 30px;
}

/* *************************************************
 * Route Header for Multi-Route pages
 ***************************************************/
#alert-accordion .route-header,
.route-header {
  padding: 0.6em 1em !important;
  background-color: var(--primary-ghost);
  color: #fff;
  font-size: 1.3em;
  margin-bottom: 0;
}

/* *************************************************
 * Alert Panel
 ***************************************************/
