// App Styles
@import "./partials/global"; // globals
@import "./partials/badge"; // badges
@import "./partials/filter"; // filters
@import "./partials/icons"; // icons
@import "./partials/toggle"; // accordion show/hide
@import "./partials/list"; // list view
@import "./partials/alert"; // alert panel

#alerts-container {
  scroll-margin-top: 100px;
}

@media screen and (min-width: 768px) {
  #kcalert-accordion {
    border: 1px solid var(--border-color) !important;
  }
}

.advisory-panel:last-child {
  border-bottom: 0;
}
