/* General styling for the page */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 20px;
  background-color: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px 20px;
  background: #fff;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  .main-content {
    max-width: 900px;
    margin: 0;
    padding: 0 0 20px;
    background: #fff;
  }
}

.border1 {
  border: 1px solid #ccc;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.advisory-block-wrapper {
  padding: 0;
}

/* Styles for service advisories */

/* *************************************************
 * Globals
 ***************************************************/
* {
  font-family: "Cabin", sans-serif;
  --title-font: "Roboto Condensed", sans-serif;
  --icon-font: "Material Symbols Outlined";
  --main-color: #29856b;
  --hover-color: #185544;
  --ghost-color: #319e7f;
  --light-color: #baf1e1;
  --border-color: #ddd;
}

/* *************************************************
 * Advisory Blocks
 ***************************************************/

.advisory-block {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 0;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
.advisory-content {
  position: relative;
  margin-top: 1.5rem;
  padding: 0 1.2rem 0.7rem 3.4rem;
  border-bottom: 1px solid #ccc;
}
.advisory-content:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.advisory-content + .advisory-content {
  margin-top: 1rem;
}
.advisory-block-title,
.advisory-type {
  font-family: var(--title-font);
}
.advisory-block-title {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 16px 20px;
  border: 1px solid var(--border-color);
  border-bottom: 0;
}
.with-description {
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
}
.with-description:after {
  font-family: var(--icon-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  display: inline-block;
  opacity: 0.5;
  content: "expand_more";
  position: absolute;
  right: 1rem;
  top: 1.3rem;
  /*background: #f4f4f4;*/
  /*background-color: #187189;
  border: 2px solid #187189;*/
  color: #fff;
  color: #333;
  padding: 4px;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}
.advisory-type {
  font-weight: normal;
  font-size: 1.3rem;
}
.advisory-detail {
  white-space: pre-wrap;
  margin: 0;
}
.advisory-dates {
}

.alert-footer {
  font-size: 14px;
  border-top: 1px solid var(--border-color);
  padding-top: 7px;
}

@media screen and (min-width: 425px) {
  .alert-footer {
    font-size: 12px;
  }
}

/* *************************************************
 * Status Badges
 ***************************************************/

.advisory-status {
  position: absolute;
  margin-top: 3px;
  margin-left: 1em;
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 2px 10px;
  border-radius: 5px;
  letter-spacing: 0.08em;
}
.advisory-status.ongoing {
  background-color: red;
  color: #fff;
}

.advisory-status.upcoming {
  background-color: orange;
}

/* *************************************************
 * Alert Icons
 ***************************************************/

.advisory-content::before {
  font-family: var(--icon-font);
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: 24px;
  position: absolute;
  top: -5px;
  left: 1.2rem;
}
.dangerous::before {
  content: "dangerous";
  content: "dangerous" / "";
  color: red;
}
.alt_route::before,
.ac_unit::before {
  content: "alt_route";
  content: "alt_route" / "";
  color: blue;
}

.ac_unit::before {
  content: "ac_unit";
  content: "ac_unit" / "";
}
.task_alt::before {
  content: "task_alt";
  content: "task_alt" / "";
  color: green;
}
.error::before {
  content: "error";
  content: "error" / "";
  color: red;
}
.timer::before {
  content: "timer";
  content: "timer" / "";
  color: orange;
}
.warning::before {
  content: "warning";
  content: "warning" / "";
  color: black;
}

/* Status Count Icons */
.route-status {
  display: flex;
  margin-right: 30px;
}

.route-status > span {
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 50% 50%;
  font-size: 14px;
  padding: 0.5em;
  padding-top: 0.75em;
  line-height: 1;
  margin-right: 0.25em;
}

.route-status .ongoing {
  background-image: url(../static/img/svg/active-fill.svg);
  color: #fff;
}
.route-status .upcoming {
  background-image: url(../static/img/svg/planned.svg);
}

/* Styles for hiding and showing */
.toggle {
}
.toggle .toggle-head,
.toggle .toggle-link {
  position: relative;
  display: block;
  cursor: pointer;
}
.toggle .toggle-head::before .toggle .toggle-link::before {
  position: absolute;
  transition: transform 0.3s ease;
}
.toggle.toggle--open label.toggle-head::after,
.toggle input[id*="toggle"]:checked + label.toggle-head::after,
.toggle input[type="checkbox"]:checked + label.toggle-head:after {
  transform: rotate(-180deg);
}
.toggle .advisory-block-title {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.toggle input:checked + .advisory-block-title {
  background-color: #b2d4f5;
}
.toggle.toggle--open label + .toggle-inner,
.toggle input[id*="toggle"]:checked + label + .toggle-inner,
.toggle input[type="checkbox"]:checked + label + .toggle-inner,
.toggle-link.toggle--open label + .advisory-detail,
.toggle-link input[id*="detail"]:checked + label + .advisory-detail,
.toggle-link input[type="checkbox"]:checked + label + .advisory-detail {
  display: block;
  max-height: 2000px;
  transition: max-height 1s ease;
}
.toggle input[id*="toggle"],
.no-toggle input[id*="toggle"],
.toggle input[id*="detail"],
.no-toggle input[id*="detail"] {
  display: none;
}
.toggle .toggle-inner {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
  border: 1px solid var(--border-color);
}
.toggle-link .advisory-detail {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
  margin-bottom: 1em;
}
.toggle-link input[type="checkbox"] + label::after {
  content: "View details";
  color: blue;
  text-decoration: underline;
  display: block;
}
.toggle-link input[type="checkbox"]:checked + label::after {
  content: "Hide details";
}
.toggle-link input[type="checkbox"]:checked + label + .advisory-detail {
  margin-top: 1rem;
}

/* Route Header */
.route-header {
  padding: 0.6em 1em;
  background-color: var(--ghost-color);
  color: #fff;
  font-size: 1.3em;
}
