@import "./partials/mixins"; // mixins
@import "./partials/global"; // globals
@import "./partials/badge"; // badges
@import "./partials/filter"; // filters
@import "./partials/icons"; // icons
@import "./partials/toggle"; // accordion show/hide
@import "./partials/list"; // list view
@import "./partials/alert"; // alert panel

/* *************************************************
 * Advisory Blocks
 ***************************************************/

.advisory-block {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 0;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
.advisory-content {
  position: relative;
  margin-top: 1.5rem;
  padding: 0 1.2rem 0.7rem 3.4rem;
  border-bottom: 1px solid #ccc;
}
.advisory-content:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.advisory-content + .advisory-content {
  margin-top: 1rem;
}
.advisory-block-title,
.advisory-type {
  font-family: var(--title-font);
}
.advisory-block-title {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 16px 20px;
  border: 1px solid var(--border-color);
  border-bottom: 0;
}
.with-description {
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
}
.with-description:after {
  font-family: var(--icon-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  display: inline-block;
  opacity: 0.5;
  content: "expand_more";
  position: absolute;
  right: 1rem;
  top: 1.3rem;
  /*background: #f4f4f4;*/
  /*background-color: #187189;
  border: 2px solid #187189;*/
  color: #fff;
  color: #333;
  padding: 4px;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}
.advisory-type {
  font-weight: normal;
  font-size: 1.3rem;
}
.advisory-detail {
  white-space: pre-wrap;
  margin: 0;
}
.advisory-dates {
}

.alert-footer {
  font-size: 14px;
  border-top: 1px solid var(--border-color);
  padding-top: 7px;
}

@media screen and (min-width: 425px) {
  .alert-footer {
    font-size: 12px;
  }
}

/* Route Header */
.route-header {
  padding: 0.6em 1em;
  background-color: var(--ghost-color);
  color: #fff;
  font-size: 1.3em;
}
