/*
Table of Contents
1. Globals
2. Main Container
3. ongoing vs. upcoming Alerts
4. Route Header
  - Route Name
  - Status Count Icons
5. Alert Panels
  - Alert Type Icons
  - Status Flags
6. Status Filter Buttons
7. Search Filter

*/

/* *************************************************
 * Globals
 ***************************************************/
* {
  font-family: "Cabin", sans-serif;
  --title-font: "Roboto Condensed", sans-serif;
  --icon-font: "Material Symbols Outlined";
  --main-color: #29856b;
  --hover-color: #185544;
  --ghost-color: #319e7f;
  --light-color: #baf1e1;
  --border-color: #eee;
}

/* *************************************************
 * Main Container
 ***************************************************/
#alerts-container {
  max-width: 980px;
  margin: 40px auto;
}

/* *************************************************
 * Accordion Container
 ***************************************************/
#accordion {
  border: 2px solid var(--border-color);
  /* border-radius: 6px; */
  box-shadow: 1px 3px 4px #efefef;
}

/* *************************************************
 * ongoing vs upcoming Alerts
 ***************************************************/
.accordion.ongoing > .upcoming:not(.ongoing),
.accordion.ongoing .alert-panel.upcoming,
.accordion.ongoing .route-status .upcoming {
  display: none !important;
}

.accordion.upcoming > .ongoing:not(.upcoming),
.accordion.upcoming .alert-panel.ongoing,
.accordion.upcoming .route-status .ongoing {
  display: none !important;
}

/* *************************************************
 * Route Header 
 ***************************************************/
.panel-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

/* Route Name */
.accordion-title {
  font-size: 1em;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

/* Status Count Icons */
.route-status {
  display: flex;
}

.route-status > span {
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 50% 50%;
  font-size: 14px;
  padding: 0.5em;
  padding-top: 0.75em;
  line-height: 1;
  margin-right: 0.25em;
}

.route-status .ongoing {
  background-image: url(./img/svg/active-fill.svg);
  color: #fff;
}
.route-status .upcoming {
  background-image: url(./img/svg/planned.svg);
}

/* *************************************************
 * Alert Panels
 ***************************************************/
.alert-panel {
  display: flex;
  border: 1px solid #eee;
  border-top-width: 0;
  padding: 1.5em;
  position: relative;
}

.alert-type,
.alert-title {
  font-family: var(--title-font);
}

.alert-title {
  font-size: 1.1em;
  margin-bottom: 0.75rem;
}

/* Alert Type Icons */
.material-symbols-outlined {
  font-family: var(--icon-font);
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  padding-right: 0.5em;
  display: block;
  margin-top: 2px;
}

.no_service {
  color: red;
}

.detour {
  color: blue;
}

.modified_service {
  color: green;
}

.other_effect {
  color: orange;
}

/* Alert Header */
.alert-header {
  display: flex;
}

.alert-header button {
  border: 0;
  background-color: #fff;
  color: green;
}

/* Status Flags */
.alert-status {
  position: absolute;
  margin-top: 3px;
  margin-left: 1em;
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 2px 10px;
  border-radius: 5px;
  letter-spacing: 0.08em;
}

.alert-status.ongoing {
  background-color: red;
  color: #fff;
}

.alert-status.upcoming {
  background-color: orange;
}

/* Alert Contents */
.alert-description,
.dates {
  white-space: pre-wrap;
}

.expand-link {
  /* margin-left: 5px; */
  display: block;
  margin-bottom: 1rem;
  font-family: var(--title-font);
  cursor: pointer;
}

.cause {
  margin-bottom: 0;
}

.dates {
  margin-bottom: 20px;
}

.alert-link {
  display: none;
}

.alert-footer {
  font-size: 14px;
  border-top: 1px solid var(--border-color);
  padding-top: 7px;
}

@media screen and (min-width: 425px) {
  .alert-footer {
    font-size: 12px;
  }
}

/* *************************************************
 * Status Filter Buttons - styles from S10 style guide
 ***************************************************/
#status-filter {
  margin-bottom: 10px;
}

.tab-btn {
  background-color: rgb(244, 244, 244);
  border-color: rgb(244, 244, 244);
  border-style: solid;
  padding: 0 22px;
  text-transform: uppercase;
  height: 44px;
  color: #333;
}

.tab-btn.selected {
  background-color: var(--light-color);
  border-color: var(--light-color);
  border-bottom: 2px solid var(--hover-color);
}

/* *************************************************
 * Search Filter 
 ***************************************************/
#search {
  margin-bottom: 20px;
}
