* {
  font-family: "Cabin", sans-serif;
  --title-font: "Roboto Condensed", sans-serif;
  --icon-font: "Material Symbols Outlined";
}

#root {
  max-width: 980px;
  margin: auto;
}

.accordion-collapse {
  padding: 1em;
  margin-bottom: 30px;
}

.alert-panel {
  display: flex;
}

.material-symbols-outlined {
  /* min-width: 50px; */
  font-family: var(--icon-font);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  padding-right: 0.5em;
}

.alert-type,
.alert-title {
  font-family: var(--title-font);
}

.cause {
  margin-bottom: 0;
}

.dates {
  margin-bottom: 20px;
}
