* {
  font-family: "Cabin", sans-serif;
  --title-font: "Roboto Condensed", sans-serif;
}

#root {
  max-width: 980px;
  margin: auto;
}

.accordion-collapse {
  padding: 1em;
  margin-bottom: 30px;
}

.alert-panel {
  display: flex;
}

.alert-icon {
  min-width: 50px;
}

.alert-type,
.alert-title {
  font-family: var(--title-font);
}

.cause {
  margin-bottom: 0;
}

.dates {
  margin-bottom: 20px;
}
