/*
Table of Contents
1. Globals
2. Main Container
3. ongoing vs. upcoming Alerts
4. Route Header
  - Route Name
  - Status Count Icons
5. Alert Panels
  - Alert Type Icons
  - Status Flags
6. Status Filter Buttons
7. Search Filter

*/

/* *************************************************
 * Globals
 ***************************************************/
* {
  font-family: "Cabin", sans-serif;
  --title-font: "Roboto Condensed", sans-serif;
  --icon-font: "Material Symbols Outlined";
  --primary: #29856b;
  --primary-hover: #185544;
  --primary-ghost: #319e7f;
  --primary-ghost-white: #29856b;
  --primary-light-background: #baf1e1;
  --border-color: #eee;
}

h2 {
  font-family: var(--title-font);
}

/* *************************************************
 * Main Container
 ***************************************************/
#alerts-container {
  max-width: 980px;
  margin: 40px auto;
}
@media only screen and (max-width: 992px) {
  #alerts-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* *************************************************
 * Accordion Container
 ***************************************************/
#accordion {
  border: 2px solid var(--border-color);
  /* border-radius: 6px; */
  box-shadow: 1px 3px 4px #efefef;
}

/* *************************************************
 * ongoing vs upcoming Alerts
 ***************************************************/
.accordion.ongoing > .upcoming:not(.ongoing),
.accordion.ongoing .alert-panel.upcoming,
.accordion.ongoing .route-status .upcoming {
  display: none !important;
}

.accordion.upcoming > .ongoing:not(.upcoming),
.accordion.upcoming .alert-panel.ongoing,
.accordion.upcoming .route-status .ongoing {
  display: none !important;
}

/* *************************************************
 * Route Header 
 ***************************************************/
.panel-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

/* Route Name */
.accordion-title {
  font-size: 1rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

/* Status Count Icons */
.route-status {
  display: flex;
}

.route-status > span {
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 50% 50%;
  font-size: 14px;
  padding: 0.5rem;
  padding-top: 0.75rem;
  line-height: 1;
  margin-right: 0.25rem;
}

.route-status .ongoing {
  background-image: url(./img/svg/active-fill.svg);
  color: #fff;
}
.route-status .upcoming {
  background-image: url(./img/svg/planned.svg);
}

/* *************************************************
 * Alert Panels
 ***************************************************/
.alert-panel {
  display: flex;
  border: 1px solid #eee;
  border-top-width: 0;
  padding: 1.5rem 1rem 0;
  position: relative;
}

.alert-type,
.alert-title {
  font-family: var(--title-font);
  position: relative;
}

.alert-title {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

@media only screen and (max-width: 600px) {
  .alert-type {
    padding-right: 96px;
  }
}

/* Alert Type Icons */
.material-symbols-outlined {
  font-family: var(--icon-font);
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  padding-right: 0.5rem;
  display: block;
  margin-top: 2px;
}

.no_service {
  color: red;
}

.detour {
  color: blue;
}

.modified_service {
  color: green;
}

.other_effect {
  color: orange;
}

/* Alert Header */
.alert-header {
  display: flex;
}

.alert-header button {
  border: 0;
  background-color: #fff;
  color: green;
}

/* Status Flags */
.alert-status {
  position: absolute;
  margin-top: 3px;
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 2px 10px;
  border-radius: 5px;
  letter-spacing: 0.08em;
}

@media only screen and (max-width: 600px) {
  .alert-status {
    right: 0;
    top: 0;
  }
}

.alert-status.ongoing {
  background-color: red;
  color: #fff;
}

.alert-status.upcoming {
  background-color: orange;
}

/* Alert Contents */
.alert-description,
.dates {
  white-space: pre-wrap;
}

.expand-link {
  /* margin-left: 5px; */
  display: block;
  margin-bottom: 1rem;
  font-family: var(--title-font);
  cursor: pointer;
}

.cause {
  margin-bottom: 0;
  text-transform: capitalize;
}

.dates {
  margin-bottom: 20px;
}

.alert-link {
  display: none;
}

.alert-footer {
  font-size: 14px;
  border-top: 1px solid var(--border-color);
  padding-top: 7px;
}

@media screen and (min-width: 425px) {
  .alert-footer {
    font-size: 12px;
  }
}
/* *************************************************
 * Status Filter Buttons
 ***************************************************/

#status-filter {
  margin-bottom: 20px;
}

#status-filter .filter-btn,
#status-filter .tab-btn {
  border: 1px solid #ccc;
  background-color: var(--light);
  color: var(--gray);
  padding: 6px 12px;
  font-size: 0.8rem;
  text-transform: uppercase;
}
#status-filter .filter-btn.selected,
#status-filter .tab-btn.selected {
  background-color: var(--primary);
  color: #fff;
  position: relative;
  padding-left: 24px;
}

#status-filter .filter-btn.selected::before,
#status-filter .tab-btn.selected::before {
  font-family: "Material Symbols Outlined";
  content: "check";
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: 20px;
  width: 24px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

/* *************************************************
 * Search Filter 
 ***************************************************/

.filter-box-wrapper {
  background-color: #fff;
  width: 100%;
  margin: 0 0 1.7rem;
  position: sticky;
  top: 0;
  z-index: 99;
  -webkit-box-shadow: 0px 20px 20px 6px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 20px 20px 6px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 20px 20px 6px rgba(255, 255, 255, 0.8);
}
.filter-box {
  position: relative;
}
#map-search,
#route-search {
  width: 100%;
  font-size: 1.3em;
  font-size: 16px;
  height: 56px;
  background: #f4f4f4;
  border: 0;
  border-bottom: 1px solid #757575;
  border-radius: 0;
  margin: 0;
  padding: 20px;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  transition: all 0.2s ease-in-out;
}

#map-search:focus,
#map-search:hover,
#route-search:focus,
#route-search:hover {
  height: 60px;
  border-bottom: 4px solid #757575;
  margin: 0 0 -4px;
}

#search {
  margin-bottom: 20px;
}

#route-search-container {
  position: relative;
}

#clear-search {
  border: 0;
  position: absolute;
  right: 0;
  height: 100%;
  background-color: transparent;
}

#clear-search span {
  color: var(--primary);
}

#clear-search span:hover {
  color: var(--primary-hover);
}

#clear-search span:active {
  color: var(--primary-ghost-white);
}
