* {
  font-family: "Cabin", sans-serif;
  --title-font: "Roboto Condensed", sans-serif;
  --icon-font: "Material Symbols Outlined";
}

#root {
  max-width: 980px;
  margin: auto;
}

.accordion-title {
  font-size: 1em;
  margin-bottom: 0;
}

.alert-panel {
  display: flex;
  border: 1px solid #eee;
  border-top-width: 0;
  padding: 1.5em;
}

.material-symbols-outlined {
  font-family: var(--icon-font);
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  padding-right: 0.5em;
}

.no_service {
  color: red;
}

.detour {
  color: orange;
}

.modified_service {
  color: green;
}

.alert-type,
.alert-title {
  font-family: var(--title-font);
}

.alert-status {
  margin-left: 1em;
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 2px 10px;
  border-radius: 5px;
  margin-top: -5px;
  letter-spacing: 0.08em;
}

.active {
  background-color: red;
  color: #fff;
}

.planned {
  background-color: orange;
}

.cause {
  margin-bottom: 0;
}

.dates {
  margin-bottom: 20px;
}
