* {
  font-family: "Cabin", sans-serif;
  --title-font: "Roboto Condensed", sans-serif;
  --icon-font: "Material Symbols Outlined";
}

#root {
  max-width: 980px;
  margin: auto;
}

.accordion-title {
  font-size: 1em;
  margin-bottom: 0;
}

.alert-panel {
  display: flex;
  border: 1px solid #eee;
  border-top-width: 0;
  padding: 1.5em;
}

.material-symbols-outlined {
  font-family: var(--icon-font);
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  padding-right: 0.5em;
}

.no_service {
  color: red;
}

.detour {
  color: orange;
}

.modified_service {
  color: green;
}

.alert-type,
.alert-title {
  font-family: var(--title-font);
}

.cause {
  margin-bottom: 0;
}

.dates {
  margin-bottom: 20px;
}
