/* *************************************************
 * Alert Panels
 ***************************************************/
.alert-panel {
  display: flex;
  border: 1px solid #eee;
  border-top-width: 0;
  padding: 1.5rem 1rem 0;
  position: relative;
}

.alert-type,
.alert-title {
  font-family: var(--title-font);
  position: relative;
}

.alert-title {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

@media only screen and (max-width: 600px) {
  .alert-type {
    padding-right: 96px;
  }
}

/* Alert Header */
.alert-header {
  display: flex;
}

.alert-header button {
  border: 0;
  background-color: #fff;
  color: green;
}

/* Status Flags */
.alert-status {
  position: absolute;
  margin-top: 3px;
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 2px 10px;
  border-radius: 5px;
  letter-spacing: 0.08em;
}

@media only screen and (max-width: 600px) {
  .alert-status {
    right: 0;
    top: 0;
  }
}

.alert-status.ongoing {
  background-color: red;
  color: #fff;
}

.alert-status.upcoming {
  background-color: orange;
}

/* Alert Contents */
.alert-description,
.advisory-dates {
  white-space: pre-wrap;
}

.alert-description {
  border-left: 2px solid var(--primary-ghost-white);
  padding-left: 1rem;
}

.expand-link {
  display: block;
  margin-bottom: 1rem;
  font-family: var(--title-font);
  cursor: pointer;
  // color: var(--primary);
  text-decoration: underline;
}

.cause {
  margin-bottom: 0;
  text-transform: capitalize;
}

.advisory-dates {
  margin-top: 0;
  margin-bottom: 20px;
}

.alert-link {
  display: none;
}

.alert-footer {
  font-size: 14px;
  border-top: 1px solid var(--border-color);
  padding-top: 7px;
}

@media screen and (min-width: 425px) {
  .alert-footer {
    font-size: 12px;
  }
}

/* *************************************************
 * Advisory Blocks
 ***************************************************/

.advisory-block {
  position: relative;
  line-height: 1.4;
}

.advisory-content {
  position: relative;
  margin-top: 1.5rem;
  padding: 0 1.2rem 0.7rem 3.4rem;
  border-bottom: 1px solid #eee;

  @include responsive(767px) {
    padding: 0 0.5rem 0.7rem 2.25rem;
  }
}

.advisory-content + .advisory-content {
  margin-top: 1rem;
}

.with-description:after {
  font-family: var(--icon-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  /* display: inline-block; */
  opacity: 0.5;
  content: "expand_more";
  position: absolute;
  right: 1rem;
  top: 1.3rem;
  color: #333;
  padding: 4px;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  @include responsive(767px) {
    right: 0.5rem;
  }
}

.advisory-type {
  font-weight: normal;
  font-size: 1.3rem;
}
